:root {
    --entry-w: 15vw;
}

@font-face {
    font-family: 'Lunchtype';
    src: url('assets/fonts/lunchtype/Lunchtype25-Regular_Condensed.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lunchtype', serif;
    overflow: hidden;
    font-size: 2vh;
    margin: 0;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 1.5vh;
    }
}

@media screen and (max-height: 600px) {
    body {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 450px) {
    body {
        font-size: 1vh;
    }
}



#entries {
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: var(--entry-w);
}

#entries::-webkit-scrollbar {
    display: none;
}

.entry {
    cursor: crosshair;
    position: absolute;
}

#main {
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#circle {
    position: absolute;
    width: calc(10 * var(--entry-w));
    height: calc(10 * var(--entry-w));
    border-radius: 50%;
    border: 1px dashed green;
    margin-top: calc(-4 * var(--entry-w));
}

#wrapper {
    position: absolute;
    transform: translate(0, 100px);
}

.food-right,
.food-left {
    display: none;
    position: absolute;
    top: 0;
    max-height: 120%;
    margin-left: var(--entry-w);
}

.food-left {
    right: 110%;
}

.time {
    padding-right: 3vw;
}

.words::before {
    position: absolute;
    margin: 0;
    min-width: 12vw;
}

* .words::hover::before {
    min-width: 12vw;
}

* .words {
    min-height: 50px;
    display: block;
}

#t0030 .words:hover+.food-right,
#t0330 .words:hover+.food-right,
#t0700 .words:hover+.food-left,
#t0830 .words:hover+.food-left,
#t1530 .words:hover+.food-left,
#t1600 .words:hover+.food-left,
#t1730 .words:hover+.food-right {
    display: block;
}

#t1600 .words:hover+.food-left,
#t1730 .words:hover+.food-right {
    max-height: 80%;
}

#t0640 .words::before {
    content: "今天吃什么？粥还是汤圆还是鸡头米？";
}

#t0640 .words:hover::before {
    content: "what are you craving for today? porridge or tangyuan or water lily with chrysanthemum?";
}

#t0700 .words::before {
    content: "auntie我要一个toast set with Kopi O!";
}

#t0700 .words:hover::before {
    content: "auntie, a toast set with black coffee please!";
}

#t0900 .words::before {
    content: "jamón con queso y café descafeinado porfa—";
}

#t0900 .words:hover::before {
    content: "ham and cheese croissant with decaffeinated cappucino please—";
}

#t1135 .words::before {
    content: "诶快点出去啦等下麻辣烫又要排队了！";
}

#t1135 .words:hover::before {
    content: "Hurry up! You don't want to waste forever in the line for Mala!";
}

#t1400 .words::before {
    content: "¿Buenas tardes, qué hay para menú del día?";
}

#t1400 .words:hover::before {
    content: "Good afternoon, what's on the special menu today?";
}

#t1600 .words::before {
    content: "我还有三块钱硬币，你要吃鸡柳还是炸年糕？";
}

#t1600 .words:hover::before {
    content: 'I have 3 coins left, do you want fried chicken or fried rice cake?';
}

#t1645 .words::before {
    content: "苗苗啊别玩电脑了，过来喝点豆腐羹吧。";
}

#t1645 .words:hover::before {
    content: 'miao, pause your game? I made your favorite Tofu Soup.';
}


#t2100 .words::before {
    content: "¡milagros, la cena ya está!";
}

#t2100 .words:hover::before {
    content: "miaoye, dinner is ready!";
}

#t0030 .words::before {
    content: "churros con chocolate pa'la fiesta <3";
}

#t0030 .words:hover::before {
    content: "chocolate churros the supreme party food <3";
}

#t1030 span:hover::after {
    content: " i always ask this question and always end up slurping on Ban Mian anyway"
}

#t1245 span:hover::after {
    content: " this is obviously not true, but if you ever visit budapest, you HAVE TO try the hummus bar";
}